/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Feb-2021, 13:14:46
    Author     : tfeyi
*/

/*.scroll-bar{
    -fx-background-color:#333333;
}*/

.root{
    -fx-background-color:transparent;
}
 .chatbox{

  -fx-background-color:transparent;
  /*-fx-min-height:400px;
  -fx-min-width:200px; */
  -fx-padding: 0px;

  }
  
  .vbox{
    
    -fx-background-color:transparent;
}
 
 .text-field{
     -fx-font-size: 15px;
     -fx-text-fill: white;
     -fx-background-color:transparent;
     -fx-border-color: green;
     -fx-border-radius: 20;
     /*-fx-min-width: ;
     -fx-min-height: 25;
     -fx-max-width: 50;*/
     -fx-max-height: 50;
 }

  .label{

  -fx-background-color:transparent;
  -fx-text-fill:white;
  /*-fx-pref-height:20px;
  /*-fx-pref-width:200px; */
  -fx-font-size: 15px;
  -fx-padding: 1px;

  }

 
 .scroll-pane
{
    -fx-background: #1F540C;
    -fx-border-color: #1F540C;
    /*-fx-border-color: derive(gray, 100%);*/
    -fx-padding: 0px;
}


.scroll-pane .scroll-bar:vertical
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;

}


.scroll-pane .scroll-bar:vertical .track
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-pane .scroll-bar:horizontal .decrement-button
{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
   -fx-padding: 0 0 10 0;

}

.scroll-pane .scroll-bar:vertical .decrement-button
{

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow
{
    -fx-padding: -2;


}


.scroll-pane .scroll-bar:vertical .thumb
{
    -fx-background-color: derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

